.side-bar {
    background-color: #E9E4D7;
    background-image: url("//raw.githubusercontent.com/bogdanf/just-the-docs/master/_sass/custom/CirclePattern30.png");
    background-repeat: repeat;
}
